<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/header'); -%>
    <link rel="stylesheet" href="/css/table.css">
</head>

<body>
    <% if(!courses){ %>
        <form action="/manager/view-instructor-courses" method="POST" autocomplete="off">
            <label for="instructor_username">Instructor Username:</label><br>
            <input type="text" name="instructor_username" required><br>
            <button type="submit">View Instructor Courses</button>
        </form>
    <% } else{ %>  
        <table>
            <tr>
            <th>Course ID</th>
            <th>Course Name</th>
            <th>Classroom ID</th>
            <th>Campus</th>
            <th>Time Slot</th>
            </tr>
            <% for (var i = 0; i < courses.length; i++) { %>
                <tr>
                    <td><%= courses[i].course_id %></td>
                    <td><%= courses[i].name %></td>
                    <td><%= courses[i].classroom_id %></td>
                    <td><%= courses[i].campus %></td>
                    <td><%= courses[i].slot %></td>
                </tr>
            <% } %>
        </table>
    <% } %>
</body>
